#canvas1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1278px;
    height: 1024px;
    border: 2px solid black;
    background-image: url(assets/img/mainmenu.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#startGameBtn {
    width: 127px;
    height: 37px;
    background-image: url(assets/img/Play_normal.png);
}

#startGameBtn:hover {
    background-image: url(assets/img/Play_pressed.png);
    cursor: pointer;
}

#canvas2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1278px;
    height: 1024px;
    border: 2px solid black;
}

body {
    background-color: black;
    background-image: src('../assets/img/background.jpg');
}

#mainDiv {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#logoEl {
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: auto;
}

#logoEl img {
    width: 20%;
}